<section id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <p class="text-info">
                            <span>Hello World</span>
                        </p>
                        <img src="../../../../public/assets/img/js.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>