<div class="wrapper">
    <main class="main" ui-view="main">
        <section id="base">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                        <div class="panel">
                            <div class="panel-body">
                                <h2 class="text-center text-info">
                                    <span>Welcome to Angular 4</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>