<div class="wrapper">
    <main class="main">
        <router-outlet>
            <section id="base" *ngIf="false">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <h2 class="text-center text-info">
                                        <span>Welcome to Angular</span>
                                        <a uiSref="home">
                                            <span>4</span>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </router-outlet>
    </main>
</div>